body{
    background-color: azure;
}
hr
{
    background-color: cadetblue;
    border-style: none;
    height: 2px;
    width: 90%;

}
h2 {
    color: rgb(110, 68, 17);
    font-size: 40px;
}

a:hover{
    color: red;
}

.Heading{
    font-size: 40px;
}